<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="vistas/index/index :: head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <aside th:replace="vistas/index/index :: nav-bar"></aside>
    <div class="container text-white">
        <h1 th:text="${titulo}"></h1>
        <a type="button" class="btn btn-primary btn-sm" th:href="@{/vistas/tipo-empleado/cuestionario}">Nuevo registro</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tipo empleado</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cl:${tiposEmpleados}">
                <th scope="row" th:text="${cl.id_tipo_empleado}"></th>
                <td th:text="${cl.tipo_empleado}"></td>
                <td>
                    <a type="button" class="btn btn-success btn-sm" th:href="@{/vistas/tipo-empleado/actualizar/} + ${cl.id_tipo_empleado}">
                        Actualizar</a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger btn-sm" th:href="@{/vistas/tipo-empleado/eliminar/} + ${cl.id_tipo_empleado}">
                        Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <footer th:replace="vistas/index/index :: footer"></footer>
        <aside th:replace="vistas/index/index :: nav-bar2"></aside>
    </div>
</div>
</body>
</html>