<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="vistas/index/index :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <aside th:replace="vistas/index/index :: nav-bar"></aside>
    <div class="container">
        <h1 th:text="${titulo}" class="title text-white"></h1>
        <a type="button" class="btn btn-primary btn-sm" th:href="@{/vistas/estacion/cuestionario}">Nuevo registro</a>
        <table class="table text-white">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">tiempo a la siguiente estacion</th>
                <th scope="col">Linea</th>
                <th scope="col">Encargado</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="et:${estaciones}">
                <th scope="row" th:text="${et.id_estacion}"></th>
                <td th:text="${et.nombre_estacion}"></td>
                <td th:text="${et.tiempo_siguiente_estacion + ' min'}"></td>
                <td th:text="${et.id_linea_fk.color_linea}"></td>
                <td th:text="${et.id_empleado_fk.nombre_empleado}+ ' ' + ${et.id_empleado_fk.apellido_paterno} + ' ' + ${et.id_empleado_fk.apellido_materno}"></td>
                <td>
                    <a type="button" class="btn btn-success btn-sm" th:href="@{/vistas/estacion/actualizar/} + ${et.id_estacion}">
                        Actualizar</a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger btn-sm" th:href="@{/vistas/estacion/eliminar/} + ${et.id_estacion}">
                        Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <footer th:replace="vistas/index/index :: footer"></footer>
        <aside th:replace="vistas/index/index :: nav-bar2"></aside>
    </div>
</div>

</body>
</html>