<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="vistas/index/index :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <aside th:replace="vistas/index/index :: nav-bar"></aside>
    <div class="container">
        <h1 th:text="${titulo}" class="title text-white"></h1>
        <a type="button" class="btn btn-primary btn-sm" th:href="@{/vistas/autobus/cuestionario}">Nuevo registro</a>
        <table class="table text-white">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Modelo</th>
                <th scope="col">Conductor</th>
                <th scope="col">Tipo Autobus</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="au:${autobuces}">
                <th scope="row" th:text="${au.id_autobus}"></th>
                <td th:text="${au.modelo_autobus}"></td>
                <td th:text="${au.id_empleado_fk.nombre_empleado} + ' ' + ${au.id_empleado_fk.apellido_paterno} + ' ' + ${au.id_empleado_fk.apellido_materno}"></td>
                <td th:text="${au.tipo_autobus.nombre_tipo}"></td>
                <td>
                    <a type="button" class="btn btn-success btn-sm" th:href="@{/vistas/autobus/actualizar/} + ${au.id_autobus}">
                        Actualizar</a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger btn-sm" th:href="@{/vistas/autobus/eliminar/} + ${au.id_autobus}">
                        Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <footer th:replace="vistas/index/index :: footer"></footer>
        <aside th:replace="vistas/index/index :: nav-bar2"></aside>
    </div>
</div>

</body>
</html>